/* inter font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Cairo */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-gradient-45 {
    background-image: linear-gradient(45deg, #fff, #f0f0f0, #fff);
  }
  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }
  @media (min-width: 768px) and (max-width: 880px) {
    .tablet-buttons {
      @apply px-3 py-1  text-xs !important;
    }
    .tablet-buttons-container {
      @apply left-2 !important;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shadow-text {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
html,
body {
  @apply w-full  m-0 p-0 box-border;
}
#root {
  @apply w-full h-full min-h-screen relative flex flex-col overflow-hidden;
}
@keyframes calm-pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.animate-calm-pulse {
  animation: calm-pulse 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.time-shadow {
  text-shadow: 0px 0px 10px black;
}
.title-shadow {
  text-shadow: 0px 0px 5px black;
}
/*Ive added this class since I had problems to apply the following styles with tailwind */
@media (min-width: 1024px) {
  .city-time {
    order: 0 !important;
  }
}
